* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  text-align: center;
  line-height: 1.5;
  background: #333;
  min-height: 400px;
  margin-bottom: 100px;
  clear: both;
}

nav,
footer {
  padding: 1% 0;
  background-color: #aaa;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}

header {
  padding-top: 30px;
  padding-bottom: 0px;
  margin-bottom: -20px;
}

ul {
  margin: 0 auto;
  text-align: center;
}

li {
  display: inline-block;
  vertical-align: top;
  margin: 10px;
  border: 5px solid #fff;
  width: 150px;
  height: 100px;
  background: #9e9d9d;
}

.name {
  text-align: center;
  display: inline-block;
}